# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  include:
    - master
    - develop
    - qa		
    - releases/*
    - feature/*
    exclude:
    - releases/old*
    - feature/*-working

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo compiling the given java application   
    mvn compile
    echo running the unit tests
    mvn test
  displayName: 'Running the build process and then the unit tests'
